main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
}

.calculator {
    width: 400px;
    background-color: #f0f1f2;
}

.screen-container {
    background-color: #393736;
    padding: 50px 30px 20px 30px;
    border: 2px solid black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.screen-display {
    border: 2px solid black;
    padding: 20px;
    background-color: #cddce0;
    font-family:'Courier New', Courier, monospace;
}

.previous-display {
    font-size: 25px;
    text-align: left;
    min-height: 30px;
}

.current-display {
    font-size: 40px;
    text-align: right;
    min-height: 45px;
}

.button-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    justify-content: center;
    padding: 20px;
    border: 2px solid black;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 3px gray;
}

button {
    height: 60px;
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 3px gray;
}

.clear-button,
.delete-button {
    grid-column: span 2;
    background-color: #ce9d7d;
}

.number-button {
    background-color: #afada9;
}

.equals-button {
    background-color: blue;
    color: white;
}

button:active {
    box-shadow: 0 1px lightslategray;
    transform: translateY(2px);
}